@model IEnumerable<TipoCuenta>

@{
    ViewData["Title"] = "Tipo Cuentas";
}

<h1>Tipos Cuentas</h1>
<h5>El tipo de cuenta se refiere a como podemos agrupar cuentas.
    Ejemplos: Presrtamos, tarjetas, creditos, et.
</h5>

<a asp-action="Crear" asp-controller="TiposCuentas" class="btn btn-primary mb-3">Crear Nuevo</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Acciones
            </th>
                        <th>
                Nombre
            </th>
        </tr>
    </thead>
    <tbody id="reordenable">
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    <input type="hidden" value="@item.Id" class="ids"/> 

                    <a class="btn btn-primary" asp-action="Editar" asp-route-id=@item.Id >Editar</a>
                    <a class="btn btn-danger" asp-action="Borrar" asp-route-id="@item.Id">Borrar</a>
                </th>
                <td>
                    @item.Nombre
                </td>
            </tr>   
        }
    </tbody>
</table>>

@section Scripts{
    <script>
        const UrlOrdenar = '@Url.Action("Ordenar")';


        $(function(){
            $('#reordenable').sortable({
                    stop: async function(e, ui){
                        await actualizarOrdenes();
                    }
            });

            async function actualizarOrdenes() {
                const ids = obtenerIdsElementos();
                await enviarIdsAlBackend(ids);
            };

            function obtenerIdsElementos (){
                const ids = $(".ids").map(function(){
                    return $(this).val();
                }).get();
                return ids;             
            };

            async function enviarIdsAlBackend(ids){
                var data = JSON.stringify(ids);
                await fetch(UrlOrdenar, {
                    method:'Post',
                    body: data,
                    headers: {'Content-type': 'application/json'}
                });
            };

        });
    </script>
}